

body {

    background: url(img/tafel.jpg)no-repeat center center fixed;

    -webkit-background-size: cover;

    /* For WebKit*/

    -moz-background-size: cover;

    /* Mozilla*/

    -o-background-size: cover;

    /* Opera*/

    background-size: cover;

    /* Generic*/

}
#home
{
    position: relative;
    margin-right: 10px;
    height: 30px;
    top: 10px;
        
}

#menu{
    width: 100vw;
    height: 10vh;
    
}
#wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#blok{
    width: 100vw;
    height: 90vh;
    
}
#titel {

    text-align: center;

    position: absolute;

    width: 100vw;

    height: auto;

    margin-top: 3vh;

}

#titel h1 {
    
    
    color: antiquewhite;

    font-size: 1.5em;

}

#divlogo {
    position: absolute;

    width: 35vw;

    height: 35vw;
    
    margin-left: 32.5vw;
    margin-top: 15vh;
    
    

}

#divlogo img {

    width: 100% !important;

    height: 100%;

}

#footer {

    position: fixed;

    width: 80%;

    left: 10%;

    bottom: 0;

    text-align: center;

    color: beige;
    font-size: 0.75em;

}
#gallerij {
    position: static;

    padding-top: 5vw;

    padding-left: 5vw;

    padding-right: 5vw;

    height: auto;

}
#photos {

    line-height: 3;

    -webkit-column-count: 2;

    -webkit-column-gap: 2px;

    -moz-column-count: 2;

    -moz-column-gap: 2px;

    column-count: 2;

    column-gap: 2px;

}

#photos img {

    width: 100% !important;

    height: auto !important;

}
#formulier {

    position: absolute;

    width: 50vw;

    height: auto;

    left: 25vw;
    
    margin-top: 40px;

    border-width: 3px;

    border-style: double;

    border-color: bisque;

}

#formulier label {
   
    font-size: 1em;
    color: antiquewhite;

}
#formulier input {
    width: 100%;
}

#formulier legend {
    font-size: 1em;
    
    color: antiquewhite;

    font-weight: bolder;

    text-align: center;

}
#info {
    font-size:1em;

    position: relative;

    width: 20vw;

    height: auto;

    background-color: blanchedalmond;

    left: 15vw;

    top: 7.5vh;

}

#info img {

    width: 1em;
    padding: 0.20em;
    color: antiquewhite;

}

#info p {

    padding: 4%;

}

#opening {

    font-size:1em;

    position: absolute;

    width: 20vw;

    height: auto;

    background-color: blanchedalmond;

    right: 15vw;
    top: 17.5vh;
    
    


}

#logocontact {
   
    position: absolute;

    width: 15vw;

    height: 15vw;

    left: 42.5vw;

    top: 17.5vh;

}

#logocontact img {
    
    width: 100%;

    height: 100%;

}

#openingsh {
    
    
    font-size: 1em;

    width: 100%;

    height: auto;

}
#googlemaps {
    
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 40vh;
   
        
    

}
/* RESIZE */

@media (max-width: 768px) {
    
    #menu{
        width: 100vw;
        height: 50vh;
        z-index: 1000;
    }
    
    #blok{
        height: auto;
        z-index: 0;
    }
    #photos {
        
        -moz-column-count: 1;

        -webkit-column-count: 1;

        column-count: 1;

    }
    wrapper{
        float: none;
        
    }
    #opening{
        position: relative;
        top: 5px;;
        left: 0;
        width: 100%;
        display:block;
    }
    #info{
        position: relative;
        top:0;
        left: 0;
        width: 100vw;
        
    }
    #googlemaps{
        top: 10px;
        position: relative;
    }
    #logocontact{
        display: none;
    }
    #formulier{
        width: 100vw;
        left: 0;
    }
    
    
}


